{% extends "template_with_map.html" %}
{% block top_text %}
    УЗБЕКИСТАН
{% endblock %}

{% block content_text %}
<p>Узбекистан является страной с высоким потенциалом для инвестирования благодаря своему географическому положению,
природным ресурсам, наличию квалифицированной рабочей силы и реформам, проводимым правительством для привлечения и защиты инвестиций.</p>
<p>В последние годы Узбекистан стал одним из лидеров в регионе по количеству привлеченных инвестиций,
   а также проводит широкомасштабные реформы, направленные на улучшение инвестиционного климата в стране. 
   В частности, были созданы специальные инвестиционные фонды и зоны свободной торговли, сокращен список лицензируемых видов деятельности, 
   упрощена процедура получения разрешений на строительство и эксплуатацию объектов и т.д.</p>
<p>Кроме того, правительство активно работает по привлечению иностранных инвесторов, предоставляя им ряд привилегий, 
  таких как льготы на налоги, предоставление земельных участков, гарантии защиты инвестиций и т.д. 
  В целом, узбекская инвестиционная политика ориентирована на создание благоприятного инвестиционного климата и привлечение инвестиций в различные секторы экономики страны.</p>
{% endblock %}


{% block data %}
<div>Столица: <a href="/13">Ташкент</a></div>
<div>Насление: 36.024  млн. чел</div>
ВВП: 888.341 млрд. сум
{% endblock %}

{% block plots %}
<h2>ВВП, млрд.сум.</h2>
<div id = "plot_gdp"></div>
{% endblock %}

{% block plots_script %}
var graphJSON_GDP = {{ graphJSON_GDP|safe }}

Plotly.newPlot('plot_gdp', graphJSON_GDP, {});
{% endblock %}
