{% extends "template_with_map.html" %}
{% block top_text %}
    УЗБЕКИСТАН
{% endblock %}

{% block content_text_1 %}
<p>Узбекистан является страной с высоким потенциалом для инвестирования благодаря своему географическому положению,
природным ресурсам, наличию квалифицированной рабочей силы и реформам, проводимым правительством для привлечения и защиты инвестиций.</p>
<p>В последние годы Узбекистан стал одним из лидеров в регионе по количеству привлеченных инвестиций,
   а также проводит широкомасштабные реформы, направленные на улучшение инвестиционного климата в стране. 
   В частности, были созданы специальные инвестиционные фонды и зоны свободной торговли, сокращен список лицензируемых видов деятельности, 
   упрощена процедура получения разрешений на строительство и эксплуатацию объектов и т.д.</p>
<p>Кроме того, правительство активно работает по привлечению иностранных инвесторов, предоставляя им ряд привилегий, 
  таких как льготы на налоги, предоставление земельных участков, гарантии защиты инвестиций и т.д. 
  В целом, узбекская инвестиционная политика ориентирована на создание благоприятного инвестиционного климата и привлечение инвестиций в различные секторы экономики страны.</p>
{% endblock %}


{% block data %}
<div>Столица: <a href="/13">Ташкент</a></div>
<div>Насление: 36.024  млн. чел</div>
ВВП: 888 341.7 млрд. сум
{% endblock %}

{% block plots_1 %}
<h2>ВВП, млрд.сум.</h2>
<div id = "plot_gdp"></div>

<h2>Классификация регионов по уровню инвестиционной активности</h2>
{% endblock %}

{% block plots_script %}
var graphJSON_GDP = {{ graphJSON_GDP|safe }}

Plotly.newPlot('plot_gdp', graphJSON_GDP, {});
{% endblock %}

{% block table_classification %}

<table>
  <tr>
    <th>Регионы с высоким уровнем инвестиционной активности</th>
    <th>Регионы со средним уровнем инвестиционной активности</th>
    <th>Регионы с низким уровнем инвестиционной активности</th>
  </tr>
  {% set high = [] %}
  {% set mid = [] %}
  {% set low = [] %}
  {% for region, level in reg_classify.items() %}
    {% if level == 'HIGH' %}
      {% set _ = high.append(region) %}
    {% elif level == 'MID' %}
      {% set _ = mid.append(region) %}
    {% elif level == 'LOW' %}
      {% set _ = low.append(region) %}
    {% endif %}
  {% endfor %}
  {% for i in range((high|length, mid|length, low|length)|max) %}
    <tr>
      <td>{{ high[i] if i < high|length else '' }}</td>
      <td>{{ mid[i] if i < mid|length else '' }}</td>
      <td>{{ low[i] if i < low|length else '' }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
